@import "tailwindcss";

@layer utilities {
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

html, body {
  overscroll-behavior-y: contain;
  overflow: hidden;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}
